.logo img{
  width: 70px;
  height: 70px;
} 
 
.header-container{
  padding: 20px;
  display: flex; 
  justify-content: center;
  align-items: center;

}

.header-options ul li{
  display: unset;
  margin: 20px;
}

.header-options a{
  text-decoration: none;
  color: inherit;
}

@media (max-width: 460px) {
  .header-options ul li{
    display: flex;
    flex-direction: column;
    margin: 5px;
  }
}

@media (max-width: 430px) {
  .logo img{
    width: 35px;
    height: 35px;
  } 

}

